<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortner</title>
</head>
<body>
    <h1>URL shortner</h1>
    <div>
        <form>
            <label>Enter the Original URL:</label>
            <input type="text",name="redirectURL",placeholder="https://Example.com"
            />
            <button type="submit">Generate</button>


            
        </form>
    </div>

   
   
    
</body>
</html>